<div class="container">
  <h1>Introduzca los datos</h1>
  <form (ngSubmit)="submitAgregar()" #personaForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="persona.nombre" 
      name="nombre" #nombre="ngModel">
      <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
        Introduzca el nombre por favor
      </div> 
    </div>
    <div class="form-group">
      <label for="apellidoP">Apellido Paterno</label>
      <input type="text" class="form-control" id="apellidoP" required [(ngModel)]="persona.apellidoP"
      name="apellidoP" #apellidoP="ngModel">
      <div [hidden]="apellidoP.valid || apellidoP.pristine" class="alert alert-danger">
          Introduzca El Apellido Paterno Por Favor
      </div> 
    </div>
    <div class="form-group">
      <label for="apellidoM">Apellido Materno</label>
      <input type="text" class="form-control" id="apellidoM" required [(ngModel)]="persona.apellidoM"
      name="apellidoM" #apellidoM="ngModel">
      <div [hidden]="apellidoM.valid || apellidoM.pristine" class="alert alert-danger">
          Introduzca El Apellido Materno Por Favor
      </div>
    </div>
    <div class="form-group">
      <label for="edad">Edad</label>
      <input type="number" class="form-control" id="edad" required min="0" number [(ngModel)]="persona.edad"
      name="edad" #edad="ngModel">
      <div [hidden]="edad.valid || edad.pristine" class="alert alert-danger">
          Introduzca Su Edad (Numero) Por Favor
      </div> 
    </div>
    <div class="form-group">
      <label for="sexo">Sexo</label>
      <select class="form-control" name="sexo" id="sexo" required [(ngModel)]="persona.sexo"
      name="sexo" #sexo="ngModel">
        <option value="Masculino" selected>Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>
      <div [hidden]="sexo.valid" class="alert alert-danger">
          Introduzca Su Sexo Por Favor (Solo Hay 2 Los Demas Son Delirios)
      </div>
    </div>
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="text" class="form-control" id="correo" required email [(ngModel)]="persona.correo"
      name="correo" #correo="ngModel">
      <div [hidden]="correo.valid || correo.pristine" class="alert alert-danger">
        Introduzca Un Correo Con Formato Correcto (Ejemplo: xxxxxx@xxx.com)
        <!-- <div *ngIf="correo.errors.required">Introduzca Su Correo Por Favor</div>
        <div *ngIf="correo.errors.email">Formato Incorrecto (Ejemplo: xxxxxx@xxx.com)</div> -->
      </div> 
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!personaForm.form.valid">Submit</button>
  </form>
</div>
<app-tabla [personas]="personas"></app-tabla>